<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Создание пользователя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        span {
            font-size: 15pt;
        }
    </style>
</head>
<body>
<div class="row bg-dark" style="height: 50px;">

    <div class="col text-white ml-3 mt-2"><span class="font-weight-bold" th:text="${email} "></span>
        <span class="ms-1"> с правами доступа:</span>
        <span th:each="role : ${rolesOfUser}" th:text="${role.role.toString().substring(5)}+' '"></span>
    </div>
    <div class="col text-right mr-3 mt-3"><a class="text-white-50" th:href="@{/logout}">Logout</a>
    </div>
</div>
    <div class="row">
        <div class="col-2 bg-white mt-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Администратор</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Пользователь</a>
                </li>
            </ul>
        </div>
        <div class="col bg-light mt-3">
            <h2>Панель администратора</h2>
            <nav>
                <ul class="nav nav-tabs mt-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/create">Новый пользователь</a>
                    </li>
                </ul>
            </nav>
            <div class="card">
                <div class="card-header">
                    <h5>Добавить пользователя</h5>
                </div>
                <form th:action="@{/admin}" th:method="POST" th:object="${user}">
                    <div class="card-body-col-10">
                        <div class="form-group mx-auto" style="width: 350px;">
                            <input type="hidden" class="form-control" th:field="*{id}" id="id" placeholder="Введите ID">
                        </div>
                        <div class="form-group mx-auto" style="width: 350px;">
                            <div class="text-center"><label for="firstName"><b>Имя</b></label></div>
                            <input type="text" class="form-control" th:field="*{firstName}" id="firstName"
                                   placeholder="Введите имя">
                        </div>
                        <div class="form-group mx-auto" style="width: 350px;">
                            <div class="text-center"><label for="lastName"><b>Фамилия</b></label></div>
                            <input type="text" class="form-control" th:field="*{lastName}" id="lastName"
                                   placeholder="Введите фамилию">
                        </div>
                        <div class="form-group mx-auto" style="width: 350px;">
                            <div class="text-center"><label for="age"><b>Возраст</b></label></div>
                            <input type="text" class="form-control" th:field="*{age}" id="age"
                                   placeholder="Введите возраст">
                        </div>
                        <div class="form-group mx-auto" style="width: 350px;">
                            <div class="text-center"><label for="salary"><b>Зарплата</b></label></div>
                            <input type="text" class="form-control" th:field="*{salary}" id="salary"
                                   placeholder="Введите зарплату">
                        </div>
                        <div class="form-group mx-auto" style="width: 350px;">
                            <div class="text-center"><label for="email"><b>Почта</b></label></div>
                            <input type="email" class="form-control" th:field="*{email}" id="email"
                                   placeholder="Введите почту">
                        </div>
                        <div class="form-group mx-auto" style="width: 350px;">
                            <div class="text-center"><label for="username"><b>Логин</b></label></div>
                            <input type="text" class="form-control" th:field="*{username}" id="username"
                                   placeholder="Введите логин">
                        </div>
                        <div class="form-group mx-auto text-center" style="width: 350px;">
                            <label for="password"><b>Пароль</b></label>
                            <input type="password" class="form-control" th:field="*{password}" id="password"
                                   placeholder="Введите пароль">
                        </div>
                        <div class="form-group mx-auto" style="width: 350px;">
                            <div class="text-center"><label for="roles"><b>Права</b></label></div>
                        <select class="custom-select" size="2" name="select_role" id="roles">
                            <option value="1">ADMIN</option>
                            <option value="2">USER</option>
                        </select>
                        </div>
                        <div class="form-group mt-3 mx-auto" style="width: 258px;">
                            <button type="submit" class="btn btn-success mx-auto">Добавить нового пользователя</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>